# Dependencies
node_modules/

# Testing
coverage/

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Environment
.env
.env.local
.env.*.local

# Build
dist/
build/

# Misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug
.debug